@{
    ViewBag.Title = "Наші контактні дані:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    04053, м.Киив, <br />
    Шевченківський район, <br />
    ВУЛИЦЯ СІЧОВИХ СТРІЛЬЦІВ, <br />
    будинок 1-5 <br />
    <abbr title="Телефон">Тел:</abbr>
    +380442724149
</address>
