@{
    ViewBag.Title = "Фінансова звітність";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Фінансова звітність за Національними положеннями(стандартами) бухгалтерського обліку
    за рік, який закінчився 31 грудня 2022 року. Разом із Звітом незалежного аудиту.
</p>
<p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="~/zvit/FinZvit_2022_PHI.pdf" allowfullscreen></iframe>
    </div>
</p>