@{
    ViewBag.Title = "Звіт управління";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Звіт про управління за 2022 рік ТОВАРИСТВА З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "ПРОДХІМІНДУСТРІЯ"
</p>
<p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="~/zvit/Zvit_upravlinnya_2022_PHI.pdf" allowfullscreen></iframe>
    </div>
</p>